div {
	display: block;
}
* {
	box-sizing: border-box;
}
.center {
	padding-left: 15px;
	padding-right: 15px;

}
table th .modify,
table td .modify {
	min-width: 120px;
}
tr th,
tr td {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 100px;
}
tr th {
	padding-bottom: 5px;
	min-width: 70px;
	text-align: left;
	display: table-cell;
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
tbody tr td {
	/*padding:4px 0;*/
	/*height: 60px;*/
	max-height: 60px;
	vertical-align:  middle;
	border-top: 1px solid #ddd;
}
table {
	/*max-width: 95%;*/
	/*min-width: 900px;*/
	margin-top: 20px;
	margin-bottom: 5px;
	display: table;
	border-spacing: 2px;
	border-color: gray;
	border-spacing: 0;
		margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
.footer {
	background: #E3E3E3;
}
.footul{
	margin-left: 35%;
}
.footer ul{
	list-style: none;
}
.footer ul li {
	float: left;
	/*margin: 0 5px;*/
	line-height: 5px;
	min-width:25px ;
}
.footer li a {
	/*background: gray;*/
	padding: 0 5px;
}
.content .matterText,
.content .modityText,
.content .lossText{
	margin-top: 5px;
	margin-bottom: 4px;
	font-size: 14px;
	height: 60px; 
	overflow-y:auto;
	min-width: 9em;
	max-width: 18em;
}
.fix{
	color:  #307630;
}
.loss{
	width: 10em;
	color: #A94442;
}
.del {
	background: #B92C28;
	color: #fff;
	border-radius: 4px;
}
.nav:before,
.nav:after,
table:before,
table:after,
.center:before,
.center:after,
.footer:before,
.footer:after,
.footer ul:before,
.footer ul:after {
	display: table;
	content: " ";
}
table:after,
.nav:after,
.center:after,
.footer:after,
.footer ul:after{
	clear: both;
}