<div class="content" id="content">
				<table class="table">
					<thead>
						<tr>
							<th>发现时间</th>
							<th>修正时间</th>
							<th>事故等级</th>
							<th>提交人</th>
							<th>责任人</th>
							<th class="matterText">问题描述</th>
							<th class="modityText">修正方法</th>
							<th class="lossTextText">损失估计</th>
							<th class="modify">操作</th>
						</tr>
					</thead>
					<tbody class="tbody">
					</tbody>
				</table>
			</div>
			<div class="footer">
				<div class="footul">
					<ul>
						<li class="prev" onclick="fn.but.PrevPage()"><a >上一页</a>
						</li>
						<!--<li><a>1</a>
						</li>
						<li><a>2</a>
						</li>
						<li><a>3</a>
						</li>
						<li><a>4</a>
						</li>-->
						<li class="next" onclick="fn.but.NextPage()"><a >下一页</a>
						</li>
					</ul>
				</div>
			</div>