<div id="pushdown" class="pushdown">下推查看上一页</div>
<!--<div class="pushdown">下推查看上一页</div>-->
<div class="content view-data">
		<div class="discoverTime">
			<span>Bug发现时间 :</span>
			<span id="discoverTime"></span>
		</div>
		<div class="modityTime">
			<span>Bug修正时间 :</span>
			<span id="modityTime"></span>
			<span id="status" class="status"></span>
		</div>
		<div class="bugLevel">
			<span>事故等级 :</span>
			<span id="bugLevel"></span>
		</div>
		<div class="dutyPerson">
			<span>责任人 :</span>
			<span id="dutyPerson"></span>
		</div>
		<div class="submitPerson">
			<span>提交人 :</span>
			<span id="submitPerson"></span>

		</div>
		<div class="matterText">
			<span>事故问题描述 :</span>
			<p id="matterText"></p>
		</div>
		<div class="modityText">
			<span>事故修正方法 :</span>
			<p id="modityText"></p>
		</div>
		<div class="lossText">
			<span>造成损失估计 :</span>
			<p id="lossText"></p>
		</div>
</div>
<div id="pushup" class="pushup">上拉查看下一页</div>