/*============= 表单样式 ＝＝＝＝＝＝＝＝＝＝*/
#editbug>div .required{
	position: relative;
	top: 3px;
	font-size: 16px;
	font-weight: bolder;
	color: red;
}
.content div {
	padding: 2px 0;
	margin: 4px 4px;
}
.content textarea {
	height: 60px;
}
.content input {
	margin-left: 4px;
	font-size: 16px;
	padding-left: 4px;
	padding-right: 4px;
}
input#orderAmount{
	width:130px;
}
input#qrcodeNo{
	width: 160px;
}
.content input[type=text]{
	width: 70%;
}
.content input[type=number]{
	width: 100px;
}
.view-data span,
.content label{
	padding: 2px 4px;
	font-weight: bold;
	font-size: 18px;
	color: #666666;
}
.content label{
	margin: 4px 0;
}
.view-data .data-show{
	font-weight: normal;
	font-size: 16px;
	color: #000000;
}

.content .in-bugLevel select {
	font-size: 15px;
}
.content .in-submitPerson input,
.content .in-dutyPerson input {
	padding-left: 2px;
}
.viewbody>div span:first-child {
	color: #666666;
	font-size: 16px;
	font-weight: bold;
}
/*.center-view .content span {
	font-size: 15px;
	padding: 0 4px;
	width: 100%;
}*/
.content .activityName p,
.content .activityRemark p {
	word-wrap: break-word;
	width: 100%;
	font-size: 16px;
	padding: 4px;
}
.content input {
	width: 80%;
}
.center-view .content textarea {
	margin-top: 10px;
	width: 100%;
	padding: 5px;
	min-height: 100px;
	height: auto;
}

.generalizePerson,
.generalizeTime,
.qrcodeNo,
.activityExplain,
.address,
.districtTrait,
.addressType{
	
}
.donationNum,
.coverageNum,
.attentionNum,
.registerNum,
.orderNum,
.finishNum,
.orderAmount{
	
}
.activityRemark,
.activityName{
	
}
#generalizePerson,
#generalizeTime,
#qrcodeNo,
#activityExplain,
#address,
#districtTrait,
#addressType{
	
}
#donationNum,
#coverageNum,
#attentionNum,
#registerNum,
#orderNum,
#finishNum,
#orderAmount{
	/*width: 100px;*/
}
#activityRemark,
#activityName{
	
}


/*============= 表单样式 ＝＝＝＝＝＝＝＝＝＝*/